ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(146, 255, 255);
}
li a{
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    color: blue;
}
li:hover{
    background-color: orange;
    color: white;
}
li:active{
    background-color: orange;
    color: white;
}



